// /.prettierrc

{
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "printWidth": 80,
  "trailingComma": "all",
  "arrowParens": "always",
  "jsxBracketSameLine": false,
  "endOfLine": "auto"
}
